*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
assets/cloth filter=lfs diff=lfs merge=lfs -text
assets/human filter=lfs diff=lfs merge=lfs -text
assets/title.md filter=lfs diff=lfs merge=lfs -text
assets/examples filter=lfs diff=lfs merge=lfs -text
assets/examples/result1.png filter=lfs diff=lfs merge=lfs -text
assets/examples/garment1.png filter=lfs diff=lfs merge=lfs -text
assets/examples/model1.png filter=lfs diff=lfs merge=lfs -text
assets/examples/garment2.png filter=lfs diff=lfs merge=lfs -text
assets/examples/model2.png filter=lfs diff=lfs merge=lfs -text
assets/examples/result2.png filter=lfs diff=lfs merge=lfs -text
assets/examples/garment3.png filter=lfs diff=lfs merge=lfs -text
assets/examples/model3.png filter=lfs diff=lfs merge=lfs -text
assets/examples/result3.png filter=lfs diff=lfs merge=lfs -text
assets/human/003.png filter=lfs diff=lfs merge=lfs -text
assets/human/006.png filter=lfs diff=lfs merge=lfs -text
assets/human/008.jpg filter=lfs diff=lfs merge=lfs -text
assets/human/009.jpg filter=lfs diff=lfs merge=lfs -text
assets/human/001.png filter=lfs diff=lfs merge=lfs -text
assets/human/002.png filter=lfs diff=lfs merge=lfs -text
assets/human/004.jpg filter=lfs diff=lfs merge=lfs -text
assets/human/005.png filter=lfs diff=lfs merge=lfs -text
assets/human/007.png filter=lfs diff=lfs merge=lfs -text
assets/human/010.png filter=lfs diff=lfs merge=lfs -text
assets/human/011.png filter=lfs diff=lfs merge=lfs -text
assets/human/000.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/00_upper.jpg filter=lfs diff=lfs merge=lfs -text
assets/cloth/02_upper.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/05_dress.jpg filter=lfs diff=lfs merge=lfs -text
assets/cloth/10_dress.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/09_upper.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/11_upper.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/01_upper.jpg filter=lfs diff=lfs merge=lfs -text
assets/cloth/03_upper.jpg filter=lfs diff=lfs merge=lfs -text
assets/cloth/04_dress.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/06_upper.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/07_upper.png filter=lfs diff=lfs merge=lfs -text
assets/cloth/08_upper.png filter=lfs diff=lfs merge=lfs -text
